 
   .img-fluid:hover {-webkit-transform:scale(1.3);transform:scale(1.3);   }
  .img-fluid {overflow:hidden;    max-width: 70%;  padding-left: 90px;
    height: auto;transition:all .5s ease-in-out;}
    
    .img-fluid1:hover {-webkit-transform:scale(1.3);transform:scale(1.3);   }
    .img-fluid1 {overflow:hidden;    max-width: 60%;
      height: auto;transition:all .5s ease-in-out; z-index: 3;}
      
      .img-fluid2:hover {-webkit-transform:scale(1.3);transform:scale(1.3);   }
      .img-fluid2 {overflow:hidden;    max-width: 60%;
        height: auto;transition:all .5s ease-in-out; z-index: 3;
     left: 50 ;}
  


/* NO QUEDA TAN MAL DE ESTA FORMA
      .carousel-inner img {
        max-width: 100%;  
        height: auto;
        transition: transform 0.5s ease-in-out;  
      }
      
    
      .carousel-control-prev, .carousel-control-next {
        transition: opacity 0.5s ease-in-out; 
      }
 
      .carousel-inner .carousel-item.active img {
        transform: scale(1.1);  
      }
      
     
      .carousel-control-prev:hover, .carousel-control-next:hover {
        opacity: 0.8;  
      }

*/ 
#carouselExampleFade {
  max-width: 100%;
  margin: auto;
}

#carouselExampleFade .carousel-inner {
  height: 100vh; /* Esto hace que el carrusel ocupe el 100% de la altura de la ventana */
}
 
 

/* Estilo para las imágenes dentro del carrusel */
.carousel-inner img {
  max-width: 100%; /* Ajusta el ancho máximo según tus necesidades */
  height: auto;
  transition: transform 5s ease-in-out; /* Añade la transición para un efecto suave */
}

/* Escala las imágenes activas en el carrusel */
.carousel-inner .carousel-item.active img {
  transform: scale(1.1); /* Ajusta el valor de escala según tus necesidades */
}

/* Aplica la transición a las imágenes en el carrusel cuando se pasa el ratón */
.carousel-inner img:hover {
  transform: scale(1.3); /* Ajusta el valor de escala al pasar el ratón */
}



      @media (max-width: 767px) {
        .img-fluid,
        .img-fluid1 {
            max-width: 100%;  
            padding-left: 0; 
        }
    }
    
 
@media (min-width: 768px) and (max-width: 992px) {
    .img-fluid,
    .img-fluid1 {
      max-width: 80%;
 
    }
  }
  
 
  @media (min-width: 993px) and (max-width: 1200px) {
    .img-fluid,
    .img-fluid1 {
      max-width: 90%; 
    }
  }
  
  