 
<div class="info"  >

    
    
    <div>
        <h1 style="display: flex; flex-direction: column; align-items: center;">Contacto</h1>
        <ul class="enlaces" style="display: flex; flex-direction: column; align-items: center;">
         <li class="li" >   
         <button     (click)="enviarMensaje()"><i class="fab fa-whatsapp"  style="color: rgb(37,211,102);" ></i></button>
        </li>
        <li class="li">
        <h2>Podes reservar por <a href="https://www.booking.com/hotel/ar/cabana-la-arbolada-sierra-de-los-padres-sierra-de-los-padres.es-ar.html?aid=304142&label=gen173nr-1FCAEoggI46AdILFgEaAyIAQGYASy4ARfIAQzYAQHoAQH4AQKIAgGoAgO4AtP9vK0GwAIB0gIkMmM3ODYwNDMtZDg3Ny00ZThjLTlkMTQtMDg1YTdjMzU5ZGUw2AIF4AIB&sid=418762992c654c3dc820e1b13074c8ad&dest_id=-1015841&dest_type=city&dist=0&group_adults=2&group_children=0&hapos=54&hpos=4&no_rooms=1&req_adults=2&req_children=0&room1=A%2CA&sb_price_type=total&sr_order=popularity&srepoch=1705983763&srpvid=5ac11eb138f40071&type=total&ucfs=1&activeTab=main">Booking.com</a>
        </h2></li>
        </ul>
    </div>
</div>