
<div class="container">
<h3>
    <p>    Servicios  </p>
</h3>


<i class="fa-solid fa-person"></i> <span> • Ideal para 4 o 5 personas como máximo. • 2 habitaciones y otra con cucheta para 3 personas. 
</span>
<br><br>
<i class="fa-solid fa-bed"></i><span>
• Servicio de ropa de cama (SIN RECAMBIO) • No disponemos de toallas (TRAER TOALLAS).  </span>
<br><br>
  <i class="fa-solid fa-tv"></i> <span>• 1 Smart TV en el comedor. • Calefacción. • Mesas y sillas para 5, interior y exterior. 
    </span>
    <br><br>
    <i class="fa-solid fa-kitchen-set"></i><span>• Heladera. • Cocina con horno. • Vajilla completa. • Horno eléctrico. 
    </span>
    <br><br>
    <i class="fa-solid fa-person-swimming"></i><span>• Pileta (8 metros y medio por 4). 
    </span>
    <br><br>
    <i class="fa-solid fa-fire"></i><span>• Parrilla. • Jardin. 
    </span>
    <br><br>
    <i class="fa-solid fa-wifi"></i><span>• Servicio de WI Fi.
    </span> 
    <br><br>
  <h4> <strong>ATENCIÓN: NO ESTA PERMITIDO REALIZAR FIESTAS, EVENTOS O TRAER GENTE EXTERNA A LA REGISTRADA. </strong>
</h4>

</div>