.info{
    
    color: black;
      display: flex;
      width: 100%;
      padding-left: 20px;
      justify-content: center;
  }
  .enlaces{
    list-style:none ;
    display: flex;
    padding-left: 2px;
    padding-top: -5px;
  }
  
  #descript{
    padding-right:10px;
    
  
  }
  .li{
   
    
   padding-left: -20px;
    height: 60px;
  }
  i{
    width: 100%;
  
    font-size: 60px;
     
  }
  

  