@import url("https://fonts.googleapis.com/css?family=Sacramento&display=swap");

h5 {
  font-size: calc(20px + 18vh);
  line-height: calc(20px + 20vh);
/*   text-shadow: 0 0 5px #f562ff, 0 0 15px #f562ff, 0 0 25px #f562ff,
    0 0 20px #f562ff, 0 0 30px #890092, 0 0 80px #890092, 0 0 80px #890092;
  color: #fccaff; */
  text-shadow: 0 0 5px #589137, 0 0 15px #589137, 0 0 20px #589137, 0 0 40px #589137, 0 0 60px #dae8de, 0 0 10px #589137, 0 0 98px #ff0000;
    color: #589137;
  font-family: "Sacramento", cursive;
  text-align: center;
  animation: blink 12s infinite;
  -webkit-animation: blink 12s infinite;
  font-size: 70px;
}

body {
  padding: 2vw;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: #222;
  background-image: repeating-linear-gradient(
    to bottom,
    transparent 7px,
    rgba(0, 0, 0, 0.8) 9px,
    rgba(0, 0, 0, 0.8) 13px,
    transparent 13px
  );
}

@-webkit-keyframes blink {
  20%,
  24%,
  55% {
    color: #111;
    text-shadow: none;
  }

  0%,
  19%,
  21%,
  23%,
  25%,
  54%,
  56%,
  100% {
/*     color: #fccaff;
    text-shadow: 0 0 5px #f562ff, 0 0 15px #f562ff, 0 0 25px #f562ff,
      0 0 20px #f562ff, 0 0 30px #890092, 0 0 80px #890092, 0 0 80px #890092; */
  text-shadow: 0 0 5px #589137, 0 0 15px #589137, 0 0 20px #589137, 0 0 40px #589137, 0 0 60px #333, 0 0 10px #589137, 0 0 98px #ff0000;
    color: #fff6a9;
  }
}

@keyframes blink {
  20%,
  24%,
  55% {
    color: #111;
    text-shadow: none;
  }

  0%,
  19%,
  21%,
  23%,
  25%,
  54%,
  56%,
  100% {
/*     color: #fccaff;
    text-shadow: 0 0 5px #f562ff, 0 0 15px #f562ff, 0 0 25px #f562ff,
      0 0 20px #f562ff, 0 0 30px #890092, 0 0 80px #890092, 0 0 80px #890092; */
  text-shadow: 0 0 5px #589137, 0 0 15px #589137, 0 0 20px #589137, 0 0 40px #589137, 0 0 60px #333, 0 0 10px #ff8d00, 0 0 98px #ff0000;
    color: #fff6a9;
  }
}


.container-fluid{
 
  background-image: url("/assets/1.jpg");
 top:40px;   
  width:100%;
  height:auto;

 
animation:movimiento 20s infinite linear alternate;
background-repeat: no-repeat;
background-size: cover;
height: 500px;
left: 0px;
right: 0px;
border-radius: 27px 27px 27px 27px;
gap: 0;

}
@keyframes movimiento {
from{
background-position:bottom left;
}to{ 
background-position: top right;

}

}
.nav {
  position:relative;
  
  width: 100%;
  z-index: 1000; /* Ajusta el valor según sea necesario */
}