 
<div class="container-fluid"><br>

  <h5>La Arbolada</h5>  <!-- h5 para propiedad de titulo con diseño dinamico-->
</div>
 
<nav> 
    <div class="nav nav-tabs" id="nav-tab" role="tablist">
      
      <button class="nav-link active" id="nav-home-tab" data-bs-toggle="tab" data-bs-target="#nav-home" type="button" role="tab" aria-controls="nav-home" aria-selected="true">Inicio</button>
      <button class="nav-link" id="nav-mas-info-tab" data-bs-toggle="tab" data-bs-target="#nav-mas-info" type="button" role="tab" aria-controls="nav-mas-info" aria-selected="false">Más info</button>
      <button class="nav-link" id="nav-contact-tab" data-bs-toggle="tab" data-bs-target="#nav-contact" type="button" role="tab" aria-controls="nav-contact" aria-selected="false">Contacto</button>
    <!--  <button class="nav-link" id="nav-como-llegar-tab" data-bs-toggle="tab" data-bs-target="#nav-como-llegar" type="button" role="tab" aria-controls="nav-como-llegar" aria-selected="false" >Como llegar</button>
    --> </div>
  </nav>
  <div class="tab-content" id="nav-tabContent">
    <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab" tabindex="0"><app-principal></app-principal> <br> <app-footer></app-footer></div>
    <div class="tab-pane fade" id="nav-mas-info" role="tabpanel" aria-labelledby="nav-mas-info-tab" tabindex="0"> <app-mas-info></app-mas-info><app-footer></app-footer></div>
    <div class="tab-pane fade" id="nav-contact" role="tabpanel" aria-labelledby="nav-contact-tab" tabindex="0"> <app-contact></app-contact></div>
  <!--  <div class="tab-pane fade" id="nav-como-llegar" role="tabpanel" aria-labelledby="nav-como-llegar-tab" tabindex="0"><app-como-llegar></app-como-llegar></div>
  --></div>

 
  <script>
    window.addEventListener('scroll', function() {
      var nav = document.querySelector('.nav');
      var container = document.querySelector('.container-fluid');
      var scrollPosition = window.scrollY;
  
      if (scrollPosition > container.offsetTop) {
        nav.style.top = scrollPosition - container.offsetTop + 'px';
      } else {
        nav.style.top = '0';
      }
    });
  </script>
  